* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left bottom, #f0ad4e, #ff9871, #ff8e9d, #f490c5, #ca9be0, #b09be4, #929be5, #719be3, #6091e0, #4c88de, #347edb, #0275d8);
    background-size: cover;
    padding: 45px 0px;
    height: 2000px;
}

.TodoItemHolder {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background: #fff;
    border-radius: 35px;
    padding: 20px;
    /* width: 80%; */
    width: 350px;
    /* height: 500px; */
    box-shadow:
        /*The top layer shadow*/
        1px 1px 1px 1px rgb(0 0 0 / 15%),
        /*The second layer shadow */
        11px 2px 0 -5px #eee,
        /*The second layer shadow*/
        13px 2px 1px -4px rgb(0 0 0 / 15%),
        /*The third layer shadow */
        20px 5px 0 -10px #eee,
        /*The second layer shadow*/
        7px 9px 1px -9px rgb(0 0 0 / 15%);
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
    .TodoItemHolder {
        box-shadow:
            /*The top layer shadow*/
            0 1px 1px rgba(0, 0, 0, 0.15),
            /*The second layer shadow */
            0 10px 0 -5px #eee,
            /*The second layer shadow*/
            0 10px 1px -4px rgba(0, 0, 0, 0.15),
            /*The third layer shadow */
            0 20px 0 -10px #eee,
            /*The second layer shadow*/
            0 20px 1px -9px rgba(0, 0, 0, 0.15);

    }
}